body {
	background-image: url("https://raw.githubusercontent.com/nickwelsh/USB-Stapler-Status/gh-pages/css/bg.jpg");
	background-size: 100% auto;
	background-color: #CE5419;
	font-family: 'Work Sans', sans-serif;
	font-size: 48px;
	color: #ffffff;
	text-align: right;
}
